.header{
    background-color: var(--color-black);
}
.thermometer__img{
    width: 45px;
}

@media (max-width:980px){
    .section__padding{
        padding: 4rem 2rem;
    }
    .title{
        font-size: 70px;
        line-height: 85px;
    }
    .wrapper_img img{
        width: 100%;
       
    }
}

@media (max-width:980px){
    
    .title{
        font-size: 60px;
        line-height: 70px;
    }
    
}
@media (max-width:768px){
    .wrapper{
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
      }
      .wrapper_img {
        
        width: 80%;
        display: flex;
        align-self: center;
        justify-self: center;
        
        
       
    }
}